<manifest package="com.karcompany.livetv"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.karcompany.livetv.LiveTVApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".views.activities.ChannelListActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity android:name=".views.activities.ChannelDetailsActivity"
                  android:launchMode="singleTop"/>

        <activity android:name=".views.activities.ImageFullScreenActivity"
                  android:launchMode="singleTop"/>

        <activity android:name=".views.activities.RecentlyViewedActivity"
                  android:launchMode="singleTop"/>

    </application>

</manifest>
